@model IEnumerable<WebLearn.Models.Users>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<form asp-controller="Users" asp-action="Index" method="get">
    <input type="text" placeholder="Filter Items..." name="SearchString" />
    <input list="keyselect" id="keyselectlist" name="ColKey" default/>
    <datalist id="keyselect" name="ColKey" >
        <option value="UserId"></option>
        <option value="UserName"></option>
        <option value="EmailAddress"></option>
        <option value="Timezone"></option>
    </datalist>
    <input type="submit" value="Filter" />
</form>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Timezone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Timezone)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UserId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.UserId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.UserId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
