@model WebLearn.Models.Attachments

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Attachments</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AttachmentName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AttachmentName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AttachmentDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AttachmentDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AttachmentUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AttachmentUrl)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AttachmentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
