@model WebLearn.Controllers.ViewModelAA

@{
    ViewData["Title"] = "Index";
}

@if (Model.Assignments.GetType().ToString() != "IEnumerable<Assignments>")

@foreach (Assignments assignments in Model.Assignments)
{
    <h1>@Html.DisplayFor(m => assignments.AssignmentName)</h1>
    <p>@Html.DisplayFor(m => assignments.AssignmentDescription)</p>

    @foreach (Attachments attachments in Model.Attachments)
    {
        <a style="text-decoration:none; color:black;" href="@Html.DisplayFor(m => attachments.AttachmentUrl)">
            <AttachmentBox style="z-index:100000;display:block;border: 1px solid rgb(228,228,228);box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);" href="@Html.DisplayFor(m => attachments.AttachmentUrl)">
                <ABInner>
                    <div style="display:flex;flex-direction:row">
                        <div style="background-color:blue;border-radius:10000px;width:40px;height:40px"></div>
                        <div style="display:flex; flex-direction:column">
                            <h1>@Html.DisplayFor(m => attachments.AttachmentName)</h1>
                            <p>@Html.DisplayFor(m => attachments.AttachmentDescription)</p>
                        </div>
                    </div>
                </ABInner>
            </AttachmentBox>
        </a>
    }
    
    
}